body {
	background: #4B79A1;  /* fallback for old browsers */;
	background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */;
	background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
	color: #e3e3e3;
	margin-top: 15%;
}


.temp {
	font-size: 12rem;
}

.alt{
	color: #a9a9a9;
}

.optional-temp {
}

.hidden {
	display: none;
}

.wi.hidden {
	display: none;
}

.wi:before {
      content: "\f00d";
}

i {
	font-size: 10rem;
}
